<div id="message_errors">
  <% if message.errors.any? %>
    <div class="alert alert-danger">

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
