<div class="col-sm-6 col-lg-4">
  <div class="card m-2 bg-light addPromptCard">
    <div class="card-body">
        <%= link_to new_prompt_path, class: "btn btn-lg btn-outline-secondary m-2" do %>
        <i class="fa-solid fa-circle-plus" style="color: #b1b4b9;"></i> Add prompt
        <% end %>
    </div>
  </div>
</div>
