<div id="<%= dom_id prompt %>">
  <p>
    <strong>Ai name:</strong>
    <%= prompt.ai_name %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= prompt.setting %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

</div>
