<% if prompt.errors.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% prompt.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
