<%= render 'navbar' %>

<div class="backgroundContainer promptsBackground px-xl-5 pb-5">
    <div class="row py-5">
        <div class="px-0 col-md-10 col-lg-8 col-xl-6">
            <div class="jumbotron mx-4 mx-sm-5 promptsJumbotron">
                <h5 class="display-5"> Prompts </h5>
                <hr class="my-4">
                  <p> Click "Start conversation" on a prompt to begin, or add prompt to create a new one. </p>

                  <%= link_to new_prompt_path, class: "btn btn-lg btn-outline-dark m-2" do %>
                    <i class="fa-solid fa-circle-plus" style="color: #000000;"></i> Add Prompt
                  <% end %>

            </div>
        </div>
    </div>

  <div class="row g-0 px-2" id="prompts">
    <% @prompts.each do |prompt| %>
      <%= render prompt %>
    <% end %>
  </div>

</div>



