<%= render 'navbar' %>

<div class="backgroundContainer">

  <div class="container d-flex justify-content-center align-items-center">
    <div class="jumbotron formJumbotron">
      <h1 class="display-4">New Prompt</h1>

      <%= render "form", prompt: @prompt %>

      <hr class="my-4">

      <%= link_to "Back to Prompts", prompts_path, class: "btn btn-outline-dark" %>
    </div>
  </div>


</div>
