
<div id="conversation">
  <p>
  <strong> Prompt: </strong>
    <%= conversation.prompt.description %>
  </p>

    <p>
  <strong> Character Name:</strong>
    <%= conversation.prompt.ai_name %>
  </p>

  <p>
  <strong>Training language:</strong>
    <%= conversation.training_language %>
  </p>

  <div id="messages">
    <h4> Messages </h4>
    <%= render @messages %>
  </div>

</div>








